/* Contact Page ---------------------------------------------------------------------------------------------------------- */

#contact-page-body {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: whitesmoke;
}

form {
  margin: 0;
  display: flex;
  justify-content: center;
}

.fieldname {
  display: inline-flex;
}