/* Landing Page ---------------------------------------------------------------------------------------------------------- */

html, body {
  height: 100%;
}

body {
  background-image: url("../images/blacksand.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  width: auto;
  margin: 0;
}

#nav-wrapper {
  width: 100%;
  /* clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%); */
}

.navigation {
  background-image: linear-gradient( rgb(48, 48, 48, 1), rgb(48, 48, 48, 0));
  /* background: black; */
  padding-right: 10px;
  padding-bottom: 30px;
  padding-top: 10px;
  display: flex;
  width: auto;
  flex-flow: row wrap;
  /* right align: */
  /* justify-content: flex-end; */
  /* center */
  justify-content: center;
  margin: 0;
  opacity: 0.85;
}

ul {
  list-style-type: none;
}

li {
  margin: 6px 10px 10px 18px;  
  text-decoration: none;
}

a {
  margin-left: -2px;
  text-decoration: none;
  font-family: 'Gabriela', serif;
  color: whitesmoke;
}

a:visited {
  text-decoration: none; 
  color: whitesmoke;
}

a:hover {
  color: rgb(46, 156, 207);
}

a:active {
  color: darkgrey;
}

#nav-logo {
  font-family: 'Allura', cursive;
  font-size: 48px;
  margin-top: -10px;
  color: whitesmoke;
  text-shadow: 2px 3px 4px darkgrey;
}

#magda-bio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 33%;
  font-family:'Mr De Haviland', cursive;
  align-content: center;
  font-size: 40px;
  color: white;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  margin: 16px;
  padding-left: 16px;
}

#bio-header {
  margin: 0;
}

#bio-text {
  flex-wrap: wrap;
}

.quote-wrapper {
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-end;
  /* align-content: stretch; */
}

.quote {
  font-size: 30px;
  width: 300px;
  text-align: center;
}

/* font-family: 'Raleway', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'KoHo', sans-serif;
font-family: 'Maven Pro', sans-serif;
font-family: 'Alegreya', serif;
font-family: 'Quattrocento Sans', sans-serif;
font-family: 'Pontano Sans', sans-serif;
font-family: 'Cormorant Upright', serif;
font-family: 'Sawarabi Mincho', sans-serif;
font-family: 'El Messiri', sans-serif;
font-family: 'Syncopate', sans-serif;
font-family: 'Fauna One', serif;
font-family: 'Andika', sans-serif;
font-family: 'Gabriela', serif;
font-family: 'IM Fell English SC', serif;
font-family: 'Montserrat Subrayada', sans-serif; */

#font-choice-1 {font-family: 'Raleway', sans-serif;}
#font-choice-2 {font-family: 'Quicksand', sans-serif;}
#font-choice-3 {font-family: 'KoHo', sans-serif;}
#font-choice-4 {font-family: 'Maven Pro', sans-serif;}
#font-choice-5 {font-family: 'Alegreya', serif;}
#font-choice-6 {font-family: 'Quattrocento Sans', sans-serif;}
#font-choice-7 {font-family: 'Pontano Sans', sans-serif;}
#font-choice-8 {font-family: 'Cormorant Upright', serif;}
#font-choice-9 {font-family: 'Sawarabi Mincho', sans-serif;}
#font-choice-10 {font-family: 'El Messiri', sans-serif;}
#font-choice-11 {font-family: 'Syncopate', sans-serif;}
#font-choice-12 {font-family: 'Fauna One', serif;}
#font-choice-13 {font-family: 'Andika', sans-serif;}
#font-choice-14 {font-family: 'Gabriela', serif;}
#font-choice-15 {font-family: 'IM Fell English SC', serif;}
#font-choice-16 {font-family: 'Montserrat Subrayada', sans-serif;}

/* All ---------------------------------------------------------------------------------------------------------- */

html, body {
  height: 100%;
}

.body-2 {
  /* background: white; */
  background-image: url("../images/landing.jpg");
  width: auto;
  margin: 0;
}

#nav-wrapper {
  width: 100%;
  /* clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%); */
}

.navigation {
  background-image: linear-gradient( rgb(48, 48, 48, 1), rgb(48, 48, 48, 0));
  /* background: black; */
  padding-right: 10px;
  padding-bottom: 30px;
  padding-top: 10px;
  display: flex;
  width: auto;
  flex-flow: row wrap;
  /* right align: */
  /* justify-content: flex-end; */
  /* center */
  justify-content: center;
  margin: 0;
  opacity: 0.85;
}

ul {
  list-style-type: none;
}

li {
  margin: 6px 10px 10px 18px;  
  text-decoration: none;
}

a {
  margin-left: -2px;
  text-decoration: none;
  font-family: 'Gabriela', serif;
  color: whitesmoke;
}

a:visited {
  text-decoration: none; 
  color: whitesmoke;
}

a:hover {
  color: rgb(46, 156, 207);
}

a:active {
  color: darkgrey;
}

#nav-logo {
  font-family: 'Allura', cursive;
  font-size: 48px;
  margin-top: -10px;
  color: whitesmoke;
  text-shadow: 2px 3px 4px darkgrey;
}

/* Media Queries ---------------------------------------------------------------------------------------------------------- */
/* Phone */
@media only screen and (max-width: 635px) {
  #magda-bio {
    width: 75%;
    text-emphasis: wrap;
  }
}
/* Tablet */