/* Available font-families
font-family: 'Allura', cursive;
font-family: 'Fredericka the Great', cursive;
font-family: 'Miss Fajardose', cursive;
font-family: 'Mr De Haviland', cursive;
font-family: 'Ruthie', cursive;
 */

/* All */

html, body {
  height: 100%;
}

/* Splash Page */

body {
  background-image: url("../images/landing.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  /* defaukt behaviour */
  /* flex-direction: row; */
  margin: auto;
  height: 100%;
  justify-content: center;
  /* align parent content on cross-axis */
  align-items: center;
  /* align content is for multiple line behavior on the cross axis, no effect on single line */
}

#mainpage-brand {
  font-family: 'Allura', cursive;
  font-size: 175px;
  /* color:#222;
  text-shadow: 0 2px 3px #555; */
  color: whitesmoke;
  text-shadow: 2px 3px 4px darkgrey;
  letter-spacing: 0.04em;
}

/* Landing Page */

#body-2 {
  /* background: white; */
  background-image: url("../images/landing.jpg");
  width: auto;
  margin: 0;
}

#nav-wrapper {
  width: 100%;
}

.navigation {
  background: white;
  padding-right: 10px;
  display: flex;
  width: auto;
  flex-flow: row wrap;
  justify-content: flex-end;
}

li {
  margin: 6px 10px 10px 18px;  
}

a {
  margin-left: -2px;
  text-decoration: none;
  font-family: 'Allura', cursive;
}

#magda-bio {
  display: flex;
  justify-content: center;
  height: 33%;
  font-family:'Mr De Haviland', cursive;
  align-content: center;
  font-size: 40px;
  color: white;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  margin: 0 8px 8px 8px;
}
