/* Available font-families
font-family: 'Allura', cursive;
font-family: 'Fredericka the Great', cursive;
font-family: 'Miss Fajardose', cursive;
font-family: 'Mr De Haviland', cursive;
font-family: 'Ruthie', cursive;
 */

/* All */

html, body {
  height: 100%;
}

/* Splash Page */

body {
  background-image: url("../images/landing.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  /* defaukt behaviour */
  /* flex-direction: row; */
  margin: auto;
  height: 100%;
  justify-content: center;
  /* align parent content on cross-axis */
  align-items: center;
  /* align content is for multiple line behavior on the cross axis, no effect on single line */
}

#mainpage-brand {
  font-family: 'Allura', cursive;
  font-size: 175px;
  /* color:#222;
  text-shadow: 0 2px 3px #555; */
  color: whitesmoke;
  text-shadow: 2px 3px 4px darkgrey;
  letter-spacing: 0.04em;
}

/* Landing Page */

#body-2 {
  /* background: white; */
  background-image: url("../images/landing.jpg");
}

.navigation {
  background: white;
  /* margin: 0; */
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

#magda-bio {
  display: flex;
  justify-content: center;
  width: 33%;
  height: 33%;
  font-family:'Mr De Haviland', cursive;
}
