/* Available font-families
font-family: 'Allura', cursive;
font-family: 'Fredericka the Great', cursive;
font-family: 'Miss Fajardose', cursive;
font-family: 'Mr De Haviland', cursive;
font-family: 'Ruthie', cursive;
 */
/* font-family: 'Raleway', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'KoHo', sans-serif;
font-family: 'Maven Pro', sans-serif;
font-family: 'Alegreya', serif;
font-family: 'Quattrocento Sans', sans-serif;
font-family: 'Pontano Sans', sans-serif;
font-family: 'Cormorant Upright', serif;
font-family: 'Sawarabi Mincho', sans-serif;
font-family: 'El Messiri', sans-serif;
font-family: 'Syncopate', sans-serif;
font-family: 'Fauna One', serif;
font-family: 'Andika', sans-serif;
font-family: 'Gabriela', serif;
font-family: 'IM Fell English SC', serif;
font-family: 'Montserrat Subrayada', sans-serif; */



/* Splash Page ---------------------------------------------------------------------------------------------------------- */

body {
  background-image: url("../images/landing.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  /* default behaviour flexdir row*/
  flex-direction: column;
  margin: auto;
  height: 100%;
  justify-content: center;
  /* align-items: align parent content on cross-axis */
  align-items: center;
  /* align-content is for multiple line behavior on the cross axis, no effect on single line */
    /* align-items: center; */
}

.mainpage-brand {
  flex: block;
  font-family: 'Allura', cursive;
  font-size: 175px;
  /* color:#222;
  text-shadow: 0 2px 3px #555; */
  color: whitesmoke;
  text-shadow: 2px 3px 4px darkgrey;
  letter-spacing: 0.04em;
}

#edit-welcome {
  font-size: 45px;
  margin-bottom: -64px;
}

#edit-logo {
  font-size: 175px;
}

#edit-logo:hover {
  /* color: lightgrey; */
  color: rgb(11, 43, 49);
  text-shadow: 2px 3px 4px rgb(111, 144, 163);
}

/* All ---------------------------------------------------------------------------------------------------------- */

html, body {
  height: 100%;
}

.body-2 {
  /* background: white; */
  /* background-image: url("../images/landing.jpg"); */
  width: auto;
  margin: 0;
}

#nav-wrapper {
  width: 100%;
  /* clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%); */
}

.navigation {
  background-image: linear-gradient( rgb(48, 48, 48, 1), rgb(48, 48, 48, 0));
  /* background: black; */
  padding-right: 10px;
  padding-bottom: 30px;
  padding-top: 10px;
  display: flex;
  width: auto;
  flex-flow: row wrap;
  /* right align: */
  /* justify-content: flex-end; */
  /* center */
  justify-content: center;
  margin: 0;
  opacity: 0.85;
}

ul {
  list-style-type: none;
}

li {
  margin: 6px 10px 10px 18px;  
  text-decoration: none;
}

a {
  margin-left: -2px;
  text-decoration: none;
  font-family: 'Gabriela', serif;
  color: whitesmoke;
}

a:visited {
  text-decoration: none; 
  color: whitesmoke;
}

a:hover {
  color: rgb(46, 156, 207);
}

a:active {
  color: darkgrey;
}

#nav-logo {
  font-family: 'Allura', cursive;
  font-size: 48px;
  margin-top: -10px;
  color: whitesmoke;
  text-shadow: 2px 3px 4px darkgrey;
}



/* Media Queries ---------------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 635px) {
  /* .navigation {
    background: none;
  } */

  /* .container {
    flex-direction: row;
  } */

  .mainpage-brand {
    align-content: center;
  }

  #edit-welcome {
    align-content: center;
    margin-bottom: 0;
  }

  #edit-logo {
    justify-content: center;
  }

}
